<app-navigation></app-navigation>

<app-alerts></app-alerts>

<div style="text-align:center">
  <div class="m-4">
    {{message}}
  </div>
  <button type="button" class="btn btn-primary m-4" (click)="onStart()">Click to Start </button>

  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Scale</div>
          <div class="card-body">
            <p class="card-text">
              <app-scale *ngIf="start"></app-scale>
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Attacher</div>
          <div class="card-body">
            <p class="card-text">
              <app-attacher *ngIf="start"></app-attacher>
            </p>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Packer</div>
          <div class="card-body">
            <p class="card-text">
              <app-packer *ngIf="start"></app-packer>
            </p>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Closer</div>
          <div class="card-body">
            <p class="card-text">
              <app-closer *ngIf="start"></app-closer>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
